.navbar {
	padding: 1rem 0;
}

.bg-dark {
	background-color: #343838;
}

.toggler {
	display: none;
}

.form-inline > .input-group-btn > .btn-secondary{
	margin-left: .5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

#toggle-off {
	display: none;
}

.sidenav {
	padding: 1rem 2rem;
	height: 100vh;
	transition: ease-in-out all .4s;
	overflow-y: scroll;
}

.sidenav > h2 {
	margin: 1rem .5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #000;
}

#street-view-image{
	width: 100%;
	height: 200px;
}

.place-icon {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 5px;
}

.btn-row {
	margin: 1rem auto;
}

.btn-prime {
	background-color: #00B4CC;
	color: #fff;
}

.favorites,
.search-results {
	margin: 1rem 0;
}

.list-group {
	margin-bottom: 1rem;
}

.list-group-item:hover{
	background: #ccc;
	cursor: pointer;
}

.fa-heart:hover {
	color: red;
}

.wiki-title {
	font-weight: 700;
}

.info {
	margin: .25rem 0;
}

.info > a {
	color: #008C9E;
}

#map {
	min-height: 100vh;
	width: 100%;
	padding: 2%;
}